.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem 1.5rem;
}

@media (min-width: 600px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
